[submodule "atom-one-dark-theme"]
	path = atom-one-dark-theme
	url = https://github.com/jonathanchu/atom-one-dark-theme.git
[submodule "slime"]
	path = slime
	url = https://github.com/slime/slime.git
[submodule "atom-one-light-theme"]
	path = atom-one-light-theme
	url = https://github.com/jonathanchu/atom-one-light-theme.git
[submodule "neotree"]
	path = neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "all-the-icons"]
	path = all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
